
/* Universal Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: bisque;
}

/* Header */

.navbar {
    background-color: #fff;
    height: 65px;
    display: flex;
    justify-content: right;
    align-items: center;
    
}

.navbar ul {
    color: antiquewhite;
    margin-right: 50px;
}

.navbar li {
    list-style-type: none;
    display: inline-block;
    margin: 20px;
    color: rgb(243, 16, 16);
    font-size: 16px;
}

.navbar a {
    text-decoration: none;
}

.navbar h1 {
    position: absolute;
    left: 100px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-weight: 600;
}

#logo {
    position: absolute;
    height: 50px;
    left: 40px;
}

/* CONTENT */
#title {
    font-size: 60px;
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

.left-container {
    width: 30%;
    margin: 100px 0 0 100px;
    display: inline-block;
}
#name {
    font-size: 35px;
    margin: 40px 0 0 5px;
    background-color: black;
    color: antiquewhite;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}
#description {
    font-size: 20px;
    margin: 20px 0 0 5px;
    line-height: 25px;
    font-weight: 500;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.button {
    margin: 20px 0 0 5px;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: solid 1px;
    border-radius: 10px;
}

.button:hover {
    color: black;
    background-color: rgba(16, 102, 6, 0.774);
    transition: .3s;
}

.button > a {
    text-decoration: none;
    color: white;
}

.right-container {
    position: absolute;
    width: 50%;
    left: 40%;
    top: 20%;
}

/* ABOUT ME PAGE  */

.about_me {
    height: 100vh;
}

.about__left {
    width: 60%;
    display: inline-block;
    margin-top: 7vh;
}

.about__left p {
    margin: 20px 40px;
}

.about__left > span {
    position: relative;
    left: 20%;
    font-size: 30px;
    margin: 40px;
    font-style: italic;
    background-color: black;
    color: white;
    padding: 10px;
    border: solid 1px;
    border-radius: 30px;
    
}

.about__left > span:hover {
    color: black;
    background-color: white;
    box-shadow: rgba(25, 23, 23, 0.145);
    transition: 0.3s;
}

.about__right {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 55%;
}

.about__right > img {
    height: 600px;
    
}

/* CONTACT */

.contact {
    margin: 20vh;
}

.contact p {
    margin: 10vh;

}

address {
    margin: 10vh;
}